.Body{
    grid-column: 1/2;
    background-color: rgb(215, 217, 219);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Item{
    padding-bottom: 10px;

    word-wrap: break-word;
}