.footer{
    position: absolute;
     height:10vh;
    background-color: rgb(185, 192, 202);
    font-size: initial;
    font-style: unset;
    color: rgb(4, 6, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    }