.Header{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:10vh;
    background-color: rgb(185, 192, 202);
    color: rgb(10, 11, 12);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}